/* Features CSS */

.Features {
    padding: 5rem 5rem 3rem 5rem;
    background-color: var(--light-grayish-blue);
}

.Features .title {
    font-size: 2.5rem;
    color: var(--dark-blue);
    font-weight: 300;
    margin-bottom: 2rem;
}

.Features .description {
    width: 60%;
    color: var(--grayish-blue);
}

/* Feature Cards parent of Feature card*/
.feature__cards {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {

    .Features {
        width: 100%;
        padding: 10vw;
        margin: auto;
        text-align: center;
    }

    .Features .title {
        font-size: 2rem;
    }

    .Features .description {
        width: 100%;
        text-align: center;
    }

    .feature__cards {
        place-items: center;
    }
}